.rent-grid {
    display: flex;
    flex-direction: column;
}

.rent__title {
    font-size: 3rem;
    margin-top: 16px;
    margin-bottom: 40px;
}

.rent__form {
    width: 80%;
    margin: auto;
}

.rent__body-title {
    margin-bottom: 4px;
}

.rent__row {
    margin: 0px 16px 30px 16px;
}

.rent__row--two {
    display: grid;
    grid-template-columns: 1fr 130px;
}

.rent__error-text {
    margin: 0;
    color: var(--color-dismiss);
}

.rent__seperator {
    height: 1px;
    width: 100%;
    background-color: var(--color-secondary);
    margin-bottom: 40px;
}

.rent__button {
    margin-bottom: 40px;
}
