.rent-grid {
    display: flex;
    flex-direction: column;
}

.rent__header {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    padding-right: 32px;
}

.rent__title {
    font-size: 3rem;
    margin-top: 16px;
}

.rent__pagination {
    font-weight: 500;
    align-self: flex-end;
    margin-bottom: 4px;
    color: var(--color-primary-semi-transparent);
    justify-self: end;
}

.rent__info {
    position: relative;
    width: 100%;
    margin-top: 8px;
    background-color: var(--color-secondary-semi-transparent);
    border-radius: var(--border-radius-small);
    padding: 16px;
    grid-column: 1 / 3;
    overflow: hidden;
}

.rent__info-text {
    color: var(--color-primary);
}

.rent__info-icon {
    position: absolute;
    right: 16px;
    height: 40px;
    width: 40px;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-primary);
}

.rent__info-text-selection {
    font-weight: 500;
}

.rent__loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.rent__form {
    width: 80%;
    margin: auto;
}

.rent__row {
    display: flex;
    margin: 0px 16px 30px 0px;
}

.rent__col {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 16px;
}

.rent__col--small {
    width: 50%;
}

.rent__body-title {
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    font-size: 1rem;
    font-weight: 600;
}

.rent__input {
    margin-bottom: 3px !important;
}

.rent__link {
    color: var(--color-secondary);
}

.rent__link--right {
    align-self: flex-end;
    margin-top: 3px;
}

.rent__link:hover {
    color: var(--color-secondary-200);
}

.rent__error-text {
    margin: 0;
    color: var(--color-dismiss);
    font-size: 10px;
}

.rent__body-button {
    margin: auto;
    margin-left: 0;
    width: 100%;
}

.rent__seperator {
    height: 1px;
    width: 100%;
    background-color: var(--color-secondary);
    margin-bottom: 40px;
}

.rent__btn-box {
    display: flex;
}

.rent__button {
    margin-bottom: 40px;
}

.rent__button--back {
    margin-left: 20px;
}

.rent__hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}
