.rent-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}

.rent__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}

.rent__title {
  font-size: var(--font-size-h1);
}

.rent__pagination {
  font-weight: 500;
  align-self: flex-end;
  margin-bottom: 4px;
  color: var(--color-primary-semi-transparent);
  justify-self: end;
}

.rent__info {
  position: relative;
  width: 100%;
  margin-top: 8px;
  background-color: var(--color-secondary-semi-transparent);
  border-radius: var(--border-radius-small);
  padding: 16px;
  grid-column: 1 / 3;
  overflow: hidden;
}

.rent__info-text {
  color: var(--color-primary);
}

.rent__info-icon {
  position: absolute;
  right: 16px;
  height: 40px;
  width: 40px;
  font-size: var(--icon-size-big);
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-primary);
}

.rent__info-text-selection {
  font-weight: 500;
}

.rent__loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.rent__row {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 30px 0px;
}

.rent__col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rent__col:first-child {
  margin-bottom: 30px;
}

.rent__col:last-child {
  margin-bottom: 0;
}

.rent__col--small {
  width: 50%;
}

.rent__body-title {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  font-size: var(--font-size-p);
  font-weight: 700;
}

.rent__input {
  margin-bottom: 3px !important;
  height: 2.5rem !important;
}

.rent__link {
  font-weight: 500;
  color: var(--color-secondary);
}

.rent__link--right {
  align-self: flex-end;
  margin-top: 3px;
}

.rent__link:hover {
  color: var(--color-secondary-200);
}

.rent__error-text {
  margin: 0;
  color: var(--color-dismiss);
  font-size: var(--font-size-small);
}

.rent__body-button {
  margin: auto;
  margin-left: 0;
  width: 100%;
}

.rent__btn-box {
  display: flex;
}

.rent__button {
  margin-bottom: 40px;
}

.rent__button--back {
  margin-left: 20px;
}

.rent__success {
  position: relative;
}

.rent__success-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: var(--font-size-h3);
  font-weight: 700;
  color: var(--color-primary);
}

.rent__success-text {
  margin-bottom: 30px;
}

.rent__success-icon {
  vertical-align: middle;
  margin-right: 16px;
  font-size: var(--icon-size-small);
  color: var(--color-secondary);
}

.rent__loading-overlay {
  background-color: var(--color-white-semi-transparent);
  position: absolute;
  z-index: 10000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rent__general-error {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white-semi-untransparent);
}

.rent__hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
}

@media (min-width: 700px) {
  .rent__row {
    flex-direction: row;
  }

  .rent__col:first-child {
    padding-right: 16px;
  }

  .rent__col:last-child {
    padding-right: 0;
  }
}
@media (max-width: 400px) {
  .rent__info-icon {
    position: absolute;
    right: 16px;
    top: auto;
    transform: translateY(0%);
    bottom: 16px;
  }
}