/*Main Colors:
	orange:			#f4572a;
	dunkelgrau:		#494848;
*/

.navbar {
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-secondary);
}

.navbar__inner {
  margin-bottom: 40px;
  min-height: 0;
}

.navbar__brand-logo-img {
  width: 150px;
}

.navbar__icon {
  color: var(--color-secondary);
}

.navbar__sidenav {
  border-left: 2px solid var(--color-secondary);
}

.navbar__nav-link {
  color: var(--color-secondary);
  font-family: var(--font-text);
  font-weight: 600;
  position: relative;
}

.navbar__nav-link:before {
  content: '';
  height: 2px;
  left: 15px;
  right: 15px;
  margin: auto;
  position: absolute;
  top: 42px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar__nav-link:hover {
  background-color: transparent;
  color: var(--color-secondary-200);
}

.navbar__nav-link--active:before {
  background-color: var(--color-secondary);
}
/* ------------------------------------------------------------------------------------------------------------------------- */
.renta-footer {
  width: 100%;
  background-color: var(--color-primary);
}

.renta-footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.renta-footer__link-wrapper {
  display: flex;
  flex-direction: column;
  margin: 16px 0 16px 0;
}

.renta-footer__link-wrapper--right {
  justify-content: space-between;
  align-items: flex-end;
}

.renta-footer__link {
  color: var(--color-secondary);
  transition: color 0.3 ease;
  font-weight: 500;
}

.renta-footer__link:not(:last-child) {
  margin-bottom: 4px;
}

.renta-footer__link:hover {
  color: var(--color-secondary-200);
}

.renta-footer__icon-link {
  width: 50px;
}

.renta-footer__icon-link:hover {
  fill: var(--color-secondary-200);
}

.renta-footer__text {
  color: var(--color-secondary);
  font-weight: 500;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
.secondary-page {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  overflow: hidden;
}

.secondary-page__title {
  font-family: var(--font-text);
  color: var(--color-primary);
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 40px;
}

.secondary-page__title-medium {
  margin-bottom: 16px;
  font-family: var(--font-text);
  color: var(--color-primary);
  font-weight: 800;
  font-size: 1.6rem;
}

.secondary-page__title-small {
  font-family: var(--font-text);
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 8px;
}

.secondary-page__title-small:not(:first-child) {
  margin-top: 16px;
}

.secondary-page__banner {
  max-width: 400px;
  margin: 0;
}

.secondary-page__section {
  margin-bottom: 40px;
}

.secondary-page__text {
  color: var(--color-primary);
}

.secondary-page__link {
  color: var(--color-secondary);
  transition: color 0.3 ease;
  font-weight: 500;
}

.secondary-page__link:hover {
  color: var(--color-secondary-200);
}

.secondary-page__i-frame {
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-small);
}

.secondary-page__ul {
  list-style-type: circle;
}

.secondary-page__li {
  list-style-type: circle !important;
  margin-left: 20px;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.siedl__section-two {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 40px;
  row-gap: 40px;
  margin-bottom: 40px;
}

.siedl__img {
  border: 2px solid var(--color-secondary);
  border-radius: var(--border-radius-small);
  max-width: 100%;
}

.siedl__title {
  font-family: var(--font-text);
  color: var(--color-secondary);
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 40px;
}

.siedl__text {
  color: var(--color-primary);
}

.siedl__price {
  font-family: var(--font-text);
  color: var(--color-primary);
  font-weight: 800;
  font-size: 1.3rem;
  margin-top: 16px;
}

.siedl__price span {
  color: var(--color-secondary);
}

.siedl__button {
  margin-top: 40px;
}

.siedl__line {
  width: 200%;
  margin-left: -50%;
  height: 2px;
  background-color: var(--color-secondary);
}

.siedl__section-four {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  margin-bottom: 40px;
}

.siedl__vignette {
  margin-top: 40px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.siedl__vignette-title {
  text-align: center;
  font-size: 1.6rem;
}

.siedl__vignette-text {
  text-align: center;
}

.siedl__vignette-icon {
  font-size: 80px;
  height: 80px;
  margin: 0 auto 16px auto;
  color: var(--color-primary);
}

@media (min-width: 700px) {
  .siedl__section-two {
    grid-template-columns: 1fr 1fr;
  }

  .siedl__section-four {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
  }
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.zitate {
  width: 100%;
  height: 250px;
  min-height: 0;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.zitate__inner-wrapper{
  position: relative;
}

.zitate__zitat-wrapper {
  position: absolute;
  opacity: 1;
  top:50%;
  left:0;
  right: 0;
  transform: translateY(-50%);
  transition: opacity 0.2s ease;
}

.zitate__quote {
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
}

.zitate__from-wrapper {
  color: var(--color-primary);
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 16px;
  flex-direction: column;
}

.zitate__hidden {
  opacity: 0;
  transition: opacity 0.2s ease;
}
